<!-- Include header-->
<%- include('include/_header') %>
<!-- Include header-->

<form action="/" method="post" id="updateuser">
   <div class="crud-box">
      <div class="container">
         <div class="col-1">
            <input type="hidden" name="id" value="<%= users._id %>">
            <div class="field"><input type="text" class="name" name="name" id="name" placeholder="name" value="<%= users.name %>"></div>
            <div class="field"><input type="file" id="upload" name="upload" value="<%= users.image %>"></div>
            <div class="field"><input type="tel" class="phone" id="phone" placeholder="Phone" name="phone" value="<%= users.phone %>"></div>
            <div class="field"><input type="email" class="email" id="email" placeholder="Email" name="email" value="<%= users.email %>"></div>
            <div class="field"><input type="text" class="course" id="course" placeholder="Course" name="course" value="<%= users.course %>"></div>
         </div>
         <div class="col-2">
            <div class="field"><input type="number" class="price" id="price" placeholder="Price" name="price" value="<%= users.price %>"></div>   
            <div class="field"><input type="text" class="date" id="date" placeholder="Date" value="<%= users.created %>"></div>
            <div class="field"><input type="text" class="link-1" id="link-1" name="link-1" placeholder="Linkedin Account" value="<%= users.link1 %>"></div>
            <div class="field"><input type="text" class="link-2" id="link-2" name="link-2" placeholder="Github Account" value="<%= users.link2 %>"></div>
            <div class="field"><input type="text" class="link-3" id="link-3" name="link-3" placeholder="Behance Account" value="<%= users.link3 %>"></div>
         </div>
         
         <div class="submit-btn"><button type="submit">Update</button></div>
      </div>
   </div>
</form>


<!-- Include footer-->
<%- include('include/_footer') %>
<!-- Include footer-->